body{
   
        background-image: url('./assets/background.jpg'); /* Ensure the correct path */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      color: white;
      
      
}
html{
    overflow: hidden;
}
